{
	"presets": [
		"@babel/preset-react",
		[
			"@babel/preset-env",
			{
				"targets": { "chrome": "18" }
			}
		]
	],
	"plugins": ["lodash"],
	"env": {
		"development": {},
		"production": {
			"presets": [["minify", { "builtIns": false }]]
		}
	}
}
