{
	"presets": [
		"@babel/preset-react",
		[
			"@babel/preset-env",
			{
				"targets": { "chrome": "18" }
			}
		]
	],
	"plugins": [
		"@babel/plugin-transform-class-properties",
		"@babel/plugin-transform-optional-chaining",
		"@babel/plugin-syntax-dynamic-import",
		"@babel/plugin-transform-runtime",
		"lodash"
	],
	"env": {
		"development": {},
		"production": {
			"presets": [["minify", { "builtIns": false }]]
		}
	}
}
